<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <!-- ======= Hero Section ======= -->
    <!-- {% include "hero.html" %} -->
    <!-- End Hero Section -->

    <!-- ======= Main ======= -->
    {% include "main.html" %}
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include "script.html" %}
  </body>
</html>
