<main id="main">
  <!-- ======= Get Started Section ======= -->
  <!-- ======= Input Section ======= -->
  <section id="pricing" class="padd-section text-cente">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Input Data Bansos</h2>
      </div>
      <div id="drop-body" class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="drag-area">
          <div class="icon"><i class="bi bi-cloud-arrow-up-fill"></i></div>
          <header>Drag & Drop to Upload Files</header>
          <span>OR</span>
          <button>Browse Files</button>
          <input
            type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            hidden
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End Input Section -->
  <section id="get-started" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Cari Informasi Penerima Bansos</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form data-aos="fade-up" data-aos-delay="100">
            <div class="input-group search">
              <i class="bi bi-search icons" aria-hidden="true"></i>
              <input
                type="text"
                class="form-control"
                placeholder="Cari NIK"
                name="search"
              />
              <div class="input-group-btn">
                <button class="btn btn-success" type="submit">Cari</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div
          class="col-md-10 offset-md-1"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="feature-block">
            <img src="static/img/search.jpg" alt="img" />
            <h4>Cari Penerima Bantuan</h4>
            <p>
              Untuk mengecek siapa saja yang telah menerima bantuan, Anda dapat
              memulai dengan memasukkan NIK dari Kepala Keluarga yang ingin
              dicari
            </p>
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">
            <img src="static/img/svg/planet.svg" alt="img" />
            <h4>user friendly interface</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry
            </p>
            <a href="#">read more</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">
            <img src="static/img/svg/asteroid.svg" alt="img" />
            <h4>build the app everyone love</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry
            </p>
            <a href="#">read more</a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="container">
      <div class="row"></div>
    </div>
  </section>
  <!-- End Get Started Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Visualisasi Data Bansos</h2>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <!-- isi disini -->
      </div>
    </div>
  </section>
  <!-- End Features Section -->
</main>
